@font-face {
   font-family: linja;
   src: url(linjapona3-5OTF.ttf);
}


html, body, #root {
    font-family: 'Muli';
	margin: 0px;
	height: 100%;
}

.app {
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.questioncard {
	height: 100%;
	display: flex;
	flex-direction: column;
    //border: 1px solid grey;
    padding:10px;
	border-radius:10px;
	//background-color: ghostwhite;
	box-sizing: border-box;
	justify-content: space-between;
}

.linjas {
	position: static;
	border: 2px solid grey;
	border-radius: 10px;
	box-sizing: border-box;
	
	display: flex;
	flex: 1;
	margin:12px;
	font-family: linja;
	font-size: 16em;
	text-align: center;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 2px grey;
}

@keyframes moveaway {
	from {left: 0%;}
	to {left: -100%;}
}

.translinjas {
	position: relative;
	animation-name: moveaway;
	animation-duration: 0.5s;
	animation-timing-function: ease-in;
}

@keyframes getback {
	from {left: 100%;}
	to {left: 0%;}
}

.middlelinjas {
	position: relative;
	animation-name: getback;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
	
}

.answercont {
	margin-top: 20px;
	padding:0px;
	display: flex;
	flex-direction: column;
}

@keyframes answeraway {
	from {left: 0%;}
	to {left: 100%;}
}

.transanswers {
	position: relative;
	animation-name: answeraway;
	animation-duration: 0.5s;
	animation-timing-function: ease-in;
}

@keyframes answerback {
	from {left: -100%;}
	to {left: 0%;}
}

.middleanswers {
	position: relative;
	animation-name: answerback;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
}


.answer {
	border: 2px solid grey;
    border-radius: 10px;
    box-shadow: 0px 2px gray;
    padding: 10px;
    margin:0px 10px 10px 10px;
	font-size: 1em;
	background-color: white;
	text-align: center;
	box-sizing: border-box;
}

.order1 {
	order: 1;
}

.order2 {
	order: 2;
}

.order3 {
	order: 3;
}

/*.answer:hover {
    background-color: aliceblue;
	border-color: cornflowerblue;
}*/

.answer:active {
	transform: translateY(2px);
    box-shadow: none;
}

.shaker {
	animation: shake 0.3s;
}

@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
  }